

/* =========================================================================
   Media Queries Variables
   ========================================================================= */
 
$mq-base-font-size: 16px;

$mq-breakpoints: (
  large: 1024px
);
 
$xs: 768px;
/* END Media Queries Variables
   ========================================================================= */